Flask
PyMySQL
mysqlclient
flask-restful
Flask-Session
Flask-SQLAlchemy
Flask-Migrate
flask-login
Flask-Babel
flask-restful-swagger
flask-jwt-extended
SQLAlchemy
# google
protobuf
# grpcio
# grpcio-tools  
validators
passlib
supervisor
uwsgi
redis
# pyyaml
# fabric
# fire
schedule
requests
# flask-socketio
python-dotenv

# linting tools
# pylint
# autopep8