Flask
PyMySQL
mysqlclient
flask-restful
Flask-Session
Flask-Bootstrap
Flask-SQLAlchemy
Flask-Migrate
flask-login
Flask-Babel
Flask-Moment
flask-restful-swagger
SQLAlchemy
Werkzeug
google
protobuf
grpcio
grpcio-tools  
validators
supervisor
uwsgi
redis
pyyaml
fabric
fire
schedule
requests
gevent
gevent-websocket
gevent-socketio
eventlet
flask-socketio
autopep8
python-dotenv

# linting tools
pylint
autopep8