version: "3.3"

services:
  butterfly_pgql:
    image: postgres:alpine
    container_name: butterfly_pgql
    restart: always
    ports:
      - 5432:5432
    volumes:
      - butterfly_pgql_backup:/docker-entrypoint-initdb.d
      - butterfly_pgql_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root

  butterfly_redis:
    image: redis:alpine
    container_name: butterfly_redis
    command: ["redis-server", "--appendonly", "yes"]
    restart: always
    ports:
      - 6379:6379
    volumes:
      - ./docker/redis:/data
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - REDIS_MASTER_PORT_NUMBER=6379
      - REDIS_PASSWORD=redis_password

  butterfly_backend:
    depends_on:
      - butterfly_pgql
      - butterfly_redis
    image: prakasa1904/tps-py-api:development
    container_name: butterfly_backend
    working_dir: /devetek/
    volumes:
      - .:/devetek
      - ./process/dev/pgql:/devetek/pgql
      - /devetek/python_modules/ # Generate volume `python_modules` empty
    restart: always
    command: ["./pgql", "butterfly_pgql", "make", "dev-up"]
    env_file:
      - ./docker/.env
    ports:
      - 5000:5000

  butterfly_frontend:
    image: node:lts-alpine
    container_name: butterfly_frontend
    working_dir: /devetek/
    volumes:
      - ./web/modules/frontend:/devetek
    restart: always
    command: yarn start

  butterfly_nginx:
    image: nginx
    container_name: butterfly_nginx
    depends_on:
      - butterfly_backend
      - butterfly_frontend
    volumes:
      - ./public/:/devetek
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    restart: always
    ports:
      - 80:80
    logging:
      driver: "json-file"
      options:
        max-size: "1m"

volumes:
  butterfly_pgql_backup:
    driver: local
    driver_opts:
      type: none
      device: $PWD/docker/postgres/restore
      o: bind
  butterfly_pgql_data:
    driver: local
    driver_opts:
      type: none
      device: $PWD/docker/pgql/volume
      o: bind
